*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body,html{
    margin:0;
    padding: 0;
    font-style: '微软雅黑',Microsoft YaHei,Tahoma,'黑体','宋体';
    color: #333;
}
ul,li{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
a:link,a:visited{ text-decoration:none;}
a:active,a:hover { text-decoration:none; }

/*去浮动*/
.clearfix:after{ 
    content:'';
    display:block;
    clear:both;
    visibility:hidden;
    height:0;
}

.ac-time{
    transition:all 0.5s ease 0s;
    -moz-transition:all 0.5s ease 0s; /* Firefox 4 */
    -webkit-transition:all 0.5s ease 0s; /* Safari and Chrome */
    -o-transition:all 0.5s ease 0s; /* Opera */
    -ms-transition:all 0.5s ease 0s;
}


/*导航开关*/
.menu {
    width: 47px;
    height: 47px;
    position: fixed;
    top: 0px;
    left: 20px;
    z-index: 9999;
}
.menu-icon-box{
    display: inline-block;
    width: 47px;
    height: 47px;
    left: 0px;
    top: 0px;
    position: absolute;
    /*background: red;
    opacity: 0.5*/
}
.menu-icon{
    width: 18px;
    height: 1px;
    line-height: 1px;
    display: block;
    position: absolute;
    left: 15px;
    background: #000;
}

.menu.open .menu-icon-box .menu-icon{
    background: #fff;
}

.menu-icon.l1{
    top: 20px;
}
.menu-icon.l2{
    top: 26px;
}

.menu.open .menu-icon-box.b1{
    transform: rotate(135deg);
    -ms-transform: rotate(135deg);       /* IE 9 */
    -webkit-transform: rotate(135deg);   /* Safari and Chrome */
    -o-transform: rotate(135deg);        /* Opera */
    -moz-transform: rotate(135deg);      /* Firefox */
}
.menu.open .menu-icon-box.b1 .menu-icon.l1{
    transform: translate(0px,3px);
    -ms-transform: translate(0px,3px);       /* IE 9 */
    -webkit-transform: translate(0px,3px);   /* Safari and Chrome */
    -o-transform: translate(0px,3px);        /* Opera */
    -moz-transform: translate(0px,3px);      /* Firefox */
}
.menu.open .menu-icon-box.b2{
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);       /* IE 9 */
    -webkit-transform: rotate(45deg);   /* Safari and Chrome */
    -o-transform: rotate(45deg);        /* Opera */
    -moz-transform: rotate(45deg);      /* Firefox */
}
.menu.open .menu-icon-box.b2 .menu-icon.l2{
    transform: translate(0px,-3px);
    -ms-transform: translate(0px,-3px);       /* IE 9 */
    -webkit-transform: translate(0px,-3px);   /* Safari and Chrome */
    -o-transform: translate(0px,-3px);        /* Opera */
    -moz-transform: translate(0px,-3px);      /* Firefox */
}

/*导航*/
nav.nav-box{
    background: #000;
    position: fixed;
    height: 47px;
    left: 0px;
    top: -47px;
    width: 100%;
    opacity: 0;
    z-index: 999;
}

nav.nav-box.show{
    opacity: 0.8;

    transform: translate(0px,47px);
    -ms-transform: translate(0px,47px);       /* IE 9 */
    -webkit-transform: translate(0px,47px);   /* Safari and Chrome */
    -o-transform: translate(0px,47px);        /* Opera */
    -moz-transform: translate(0px,47px);      /* Firefox */
}

ul.nav-list{
    font-size: 13px;
    line-height: 47px;
    color: #fff;
    padding: 0px 105px;
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
}

ul.nav-list li{
    display: inline-block;
    margin:0px 50px;
    text-align:inherit;
    line-height: inherit;
}
ul.nav-list li a{
    position: relative;
}
ul.nav-list li a.selced:before{
    line-height: 47px;
    font-size: 24px;
    content:'·';
    display: block;
    position: absolute;
    left: -20px;
}
/*用户*/
a.login-box{
    width: 47px;
    height: 47px;
    color: #000;
    line-height: 47px;
    position: fixed;
    top: 0px;
    right: 20px;
    z-index: 9999;
    text-align: center;
}
a.login-box.open{
    color: #fff;
}